composer.phar
**/vendor/*
**/node_modules/*
**/config/*
.env
.env.example
composer.json
composer.lock
LICENSE.md
phpcs.xml
**/sql/*
**/wp-admin/*
**/wp-includes/
**/moodle/*
**/conf/*
/logs/*
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
license.txt
**/plugins/*
**/upgrade/*
**/uploads/
**/binbin/*
**/All-Course/
/bedrocksage/
/Bootstrap-WordPress/
/elementorpro/
/fictional-university/
/wakanda/
/zodiac/
/zodiac-learning/
**/bootstrap4/*
**/languages/
**/assets/*
**/fontawesome/*
package-json.lock
**/images/
**/fonts/


# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
